<%= form_for @user do |f| %>
    <div>
      <%= f.label :link %>
      <br />
      <%= f.text_field :link %>
    </div>
    <div>
      <%= f.label :code %>
      <br />
      <%= f.text_field :code %>
    </div>
  <%= f.submit %>
<% end %>